<div id="cart">
  <mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let item of items">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.product.name}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon (click)="remove(item.product.id)">delete_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="cart-items">
        <div class="cart-item-details">
          <img src="assets/images/{{item.product.photo}}"/>
        </div>
        <div class="cart-item-details">
          <p>Price</p>
          <p>{{item.product.price}}</p>
        </div>
        <div class="cart-item-details">
          <p>Total price</p>
          <p>{{item.product.price * item.quantity}}</p>
        </div>
        <div class="cart-item-details">
          <p>Description</p>
          <p>{{item.product.description}}</p>
        </div>
        <mat-divider></mat-divider>
      </div>
      <mat-divider></mat-divider>
      <div class="cart-items">
        <div>
          <label for="quantity">Quantity: </label>
          <input #quantity type="number" (click)="changeQuantity(item.product.id, quantity.value)" [(ngModel)]="item.quantity" name="quantity" id="quantity">
        </div>
        <button mat-button [routerLink]="['/details', {id: item.product.id}]">DETAILS</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <div id="pay-button">
    <p>TOTAL: {{total}}</p>
    <button *ngIf="items.length > 0" mat-raised-button routerLink="#">PAY</button>
  </div>
</div>
