.panel1
  background-color: #fbff98
  color: red

.panel2
  background-color: #34ff6b
  color: red

.panel3
  background-color: #ff2d39
  color: red

.panel4
  background-color: #2b8eff
  color: red

.panel5
  background-color: #ffe528
  color: red
