<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar [ngClass]="headerFontClass">Menu</mat-toolbar>
    <mat-nav-list>
      <a [ngClass]="menuFontClass"  mat-list-item routerLink="/products" routerLinkActive="active">Products</a>
      <a [ngClass]="menuFontClass"  mat-list-item routerLink="/cart" routerLinkActive="active">Cart</a>
      <a [ngClass]="menuFontClass"  mat-list-item routerLink="/signup" routerLinkActive="active" *ngIf="!(isLoggedIn$ | async);">Log in</a>
      <a [ngClass]="menuFontClass"  mat-list-item routerLink="/dashboard" routerLinkActive="active" *ngIf="(isLoggedIn$ | async);">{{authService.getUser().username}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="backgroundClass">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [ngClass]="titleFontClass">Anyád picsája</span>
    </mat-toolbar>
      <div id="main-container">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

