<div id="products" [ngClass]="bgClass">
  <div class="product-card-container" *ngFor="let product of products">
    <mat-card class="example-card" [ngClass]="productClasses[product.id]">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="assets/images/{{product.photo}}">
        </div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/{{product.photo}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{product.details}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngClass]="detailsButtonClass" [routerLink]="['/cart', {id: product.id}]">ADD TO CART</button>
        <button mat-button [ngClass]="addButtonClass" [routerLink]="['/details', {id: product.id}]">DETAILS</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
