/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

// global variables
$default-margin: 10px

=flex-layout-default($direction, $justify)
  display: flex
  //flex-wrap: nowrap no need to specify, nowrap is default
  justify-content: $justify
  align-items: center
  align-content: center
  flex-direction: $direction
